<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-2" style="opacity: 0.9; border-radius:5px">
    <a class="navbar-brand" routerLink="/" style="margin-left: 5px;">MusicPRO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <!-- <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Listado de editores</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/artista">Un Autor</a>
          </li>
      </ul>
    </div> -->
</nav>