<div class="col-12 ">
<h1 class="text-center" style="margin-top: 25px; color:rgb(224, 145, 26); "><i class="fa-solid fa-user"></i> {{ titulo }}</h1>

<table class="table table-bordered" style="margin-top: 45px;">
    <thead class="table-dark" style="opacity: 0.9;">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Nombre del cantante</th>
        <th scope="col">Año de nacimiento</th>
        <th scope="col">Número de canciones</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artista of artistas" class="text-center"><!-- // inicia el for-->
        <th scope="row">{{ artista.id }}</th>
        <td>{{ artista.nombre | uppercase }}</td> <!--usando pipe uppercase-->
        <td>{{ artista.year }}</td>
        <td>{{ artista.canciones.length }}</td> <!-- length da el numero de elementos que tiene un array-->
        <td>
            <a routerLink="/artista/{{artista.id}}" class="btn btn-success">Ver&nbsp;<i class="fa-solid fa-circle-right"></i></a>
        </td>
      </tr><!--// fin de tr y ciclo for-->
    </tbody>
    <tfoot>
        <tr>
          <td><b> Total de artistas:</b></td>
          <td colspan="4" class="text-danger"><i class="fa-solid fa-users"></i> {{ artistas.length }} artistas</td>
        </tr>
      </tfoot>
  </table>

  
  
</div>